input{
    border:none;
    border-bottom: 1px solid grey;
    padding: 2px 3px 1px 3px;
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: grey;
}


.charactersheet{
    background-color: white;
    position:absolute;
    left: 17%;
    height: 1000px;
    border: black solid 2px;
    margin: 50px;
}
.charactersheet input{
    margin: 5px
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 2px;
    margin: 10px;
}
.basicinfo{
    display: flex;
    flex-direction: column;
}
.level{
    margin-left: 6px;
}
#charactername{
    height: 15px;
}
.characterinfo{
    width: 80%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.infoA{
    display: flex;
    flex-direction: row;
    margin: 5px 20px 20px 20px;
}
.infoB, .infoC{
    display: flex;
    flex-direction: column;
    margin: 5px 20px 20px 20px;
}
.infoB input{
    text-align: center;
}
.details{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    margin-top: 55px;
    width: 60px;

}
.stats input{
    width: 30px;
    text-align: center;
}
.stat{
    background-color: rgb(63, 60, 60) ;
    padding: 5px;
    border-radius: 100%;
}
.other-skills{
    margin-left: 20px;
}
.proficiency span{
    margin-left: 5px;
    border-bottom: rgb(63, 60, 60) solid 1px;
}
.saving-throws{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 170px;
    margin: 5px 0px 0px 0px;
    padding: 5px;
}


.skills{
    display: flex;
    flex-direction: column ;
    border: 2px solid black;
    margin: 5px 0px 10px 0px;
    padding: 5px;
}

.other-proficiencies{
    margin-top: 20px;
    height: 200px;
    width: 200px;
}

.other-proficiencies textarea{
    height: 200px;
    width: 245px;
    resize: none;
}
.other-proficiencies span{
    font-size: 14px;
}

.combat-stats{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.combat-stats span{
    height: 50px;
    width: 80px;
    display: flex ;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    margin-top: 5px;
}
.combat-stats input{
    width: 20px;
}
.personality{
    margin-top: 40px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.personality textarea{
    width: 250px;
    height: 100px;
    resize: none;   
}

.current-hp, .temporary-hp {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}
.hp-dice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.death-saves{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.death-saves span{
    display: flex;
    flex-direction: row;
}
.hit-dice{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hit-dice input{
    width: 50px;
}

.stats span{
    font-size: 18px;
    font-weight: 900;

}


/* dice related */
.dices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: black solid 2px;
    background-color: rgb(63, 60, 60);
}
.dice{
    height: 40px;
    width: 50px;
    border-radius: 100%;
    border: solid black 1px;
    background-color: rgb(220, 229, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dice:hover{
    background-color:rgb(111, 111, 202);
    border: solid black 2px;
}
.diceResult{
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}
.result_title{
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border-bottom: black solid 2px;
}
.result-active{
    background-color: rgb(202, 105, 105);
    color: white;
    border-radius: 20px;
    border: solid rgb(100, 1, 1) 2px;
}
.old-roll{
    width: 50px;
    font-size: 13px;
    border-bottom: 1px solid black;
    text-align: start;
}

#dice-results{
    position:fixed;
    bottom: 5%;
    left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}